<li class="list-group-item">
    <div class="d-flex justify-content-end fs-5">
        <i title="copy to the clipboard" (click)="onCopy()" class="bi bi-clipboard-check me-3"></i>
        <i title="delete this quote" (click)="onDelete()" class="bi bi-trash"></i>
    </div>
    <div class="fw-lighter date">entered {{quote.dateOfInput | date:"MM/dd/yy"}}</div>
    <h4 class="text-center fst-italic">" {{quote.quote | lowercase}}"</h4>
    <div class="text-end fw-lighter">{{quote.author | titlecase}}</div>
</li>