h4{
    font-family: 'Parisienne', cursive;
}

i{
    cursor: pointer;
    transition: transform 0.2s linear, color 0.2s linear;
}

i:hover{
    transform: scale(1.2);
    color: #0d6efd;
}

.date{
    color: rgb(175, 172, 172);
}

@media screen and (max-width: 768px) {
    .hidden-mobile{
        display: none;
    }    
}