<div class="app">
    <h1 class="pt-5 pb-2 text-center title">My quotes</h1>
    <app-header></app-header>
    <app-suggest-quote></app-suggest-quote>
    <div *ngIf="message" class="alert alert-info text-center mt-3">{{message}}</div>
    <div class="container mt-2">
        <app-quotes-list></app-quotes-list>
    </div>
    <div *ngIf="createQuote" class="modal d-flex justify-content-center align-items-center">
        <app-new-quote></app-new-quote>
    </div>
    <div *ngIf="deleteModal" class="modal d-flex justify-content-center align-items-center">
        <app-delete-modal [quoteToDelete]="deleteModal"></app-delete-modal>
    </div>
</div>