<div *ngIf="!hidden" class="alert alert-success mt-4">
    <div class="container text-center">
        <div (click)="closeSuggestQuote()" class="text-end d-flex align-center justify-content-end close-quote"> 
            <label for="close-button" class="me-2 d-none d-lg-block">Close suggested quote</label> 
            <button type="button" class="btn-close" id="close-button"></button>
        </div>
        <h4>Suggested Quote!</h4>
        <p>"{{suggestQuote.quote | lowercase}}"</p>
        <p>( {{suggestQuote.author | titlecase}} )</p>
        <button (click)="saveSuggestQuote()" class="btn btn-success me-3">Save</button>
        <button (click)="closeSuggestQuote()" class="btn btn-danger">Close</button>
    </div>
</div>

<div *ngIf="confirmSaving" class="alert alert-success mt-4 text-center">
    quote successfully saved!
</div>