*{
    font-family: 'Architects Daughter', cursive;
}

body{
    background-image: url("./assets/bk-challenge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}